@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200;400&display=swap');

:root {
	--primary-color: #3c1518;
	--secondary-color: #5a110c;
	--tertiaty-color: #d58936;
	--font-color-bright: #f2f3ae;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.4rem;
	background-color: var(--primary-color);
}

header {
	background-color: var(--secondary-color);
	padding: 1rem;
	display: flex;
	justify-content: end;
}

.search {
	background-color: transparent;
	border: 1.5px solid var(--primary-color);
	border-radius: 50px;
	font-family: inherit;
	padding: 0.8rem 1.6rem;
	color: var(--font-color-bright);
}

.search::placeholder {
	color: var(--tertiaty-color);
}

.search:focus {
	outline: var(--tertiaty-color) solid 1px;
	background-color: var(--primary-color);
}

main {
	display: flex;
	flex-wrap: wrap;
}

.movie {
	width: 300px;
	margin: 1rem;
	background-color: var(--secondary-color);
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
	border-radius: 3px;
}

.movie img {
	width: 100%;
}

.movie-info {
	color: #eee;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.8rem 1.6rem 1.6rem;
	letter-spacing: 0.6px;
	font-size: 1.8rem;
}

.movie-info span {
	background-color: var(--primary-color);
	padding: 0.3rem 0.6rem;
	border-radius: 4px;
	font-weight: bold;
}

.movie-info span.green {
	color: mediumseagreen;
}

.movie-info span.orange {
	color: orange;
}

.movie-info span.red {
	color: red;
}

.overview {
	background-color: #eee;
	padding: 2.4rem;
	position: absolute;
	left: 0;
	bottom: 0;
	max-height: 100%;
	transform: translateY(101%);
	transition: transform 0.3s ease-in;
}
.movie:hover .overview {
	transform: translateY(0);
}
